.poker-dangal-page-wrapper .rakeback-deal-section {
  padding-top: 4rem;
}

.poker-dangal-page-wrapper .rakeback-deal-section .logo-img {
  max-width: 14rem;
  margin: 0 auto;
  display: block;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .rakeback-deal-section .logo-img {
    margin-bottom: 3rem;
  }
}

.poker-dangal-page-wrapper .rakeback-deal-section .heading {
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .rakeback-deal-section .heading {
    margin-bottom: 1.5rem;
  }
}

.poker-dangal-page-wrapper .rakeback-deal-section .subheading {
  color: #fff;
  font-size: 1.55rem;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .rakeback-deal-section .subheading {
    font-size: 1.25rem;
  }
}

.poker-dangal-page-wrapper .rakeback-deal-section .rakeback-steps {
  margin-top: 2rem;
}

.poker-dangal-page-wrapper .rakeback-deal-section .rakeback-steps p {
  color: #fff;
  opacity: .8;
  font-size: 1.3rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .rakeback-deal-section .rakeback-steps p {
    font-size: 1.1rem;
  }
}

.poker-dangal-page-wrapper .rakeback-deal-section .rakeback-steps p.note {
  color: #999;
  font-size: 1.1rem;
}

.poker-dangal-page-wrapper .rakeback-deal-section .deposit-bonus {
  padding: 1rem;
}

.poker-dangal-page-wrapper .rakeback-deal-section .deposit-bonus .title {
  color: #2ecdf3;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

.poker-dangal-page-wrapper .rakeback-deal-section .deposit-bonus .coupon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.poker-dangal-page-wrapper .rakeback-deal-section .deposit-bonus .coupon-wrapper .coupon {
  border: 2px dashed #2ecdf3;
  padding: 10px;
  margin-right: 15px;
}

.poker-dangal-page-wrapper .rakeback-deal-section .deposit-bonus .coupon-wrapper .coupon p {
  margin: 0;
  color: #2ecdf3;
}

.poker-dangal-page-wrapper .rakeback-deal-section .deposit-bonus .coupon-wrapper .coupon p:last-of-type {
  color: #fff;
  font-size: 1.7rem;
}

.poker-dangal-page-wrapper .rakeback-deal-section .deposit-bonus .coupon-wrapper .bonus-details p {
  margin: 0;
}

.poker-dangal-page-wrapper .rakeback-deal-section .deposit-bonus .coupon-wrapper .bonus-details p.amount {
  color: #2ecdf3;
  font-weight: 600;
  font-size: 2rem;
}

.poker-dangal-page-wrapper .rakeback-deal-section .support-section {
  margin-top: 3rem;
}

.poker-dangal-page-wrapper .rakeback-deal-section .support-section .heading {
  margin-bottom: 1rem;
}

.poker-dangal-page-wrapper .rakeback-deal-section .support-section .pd-details p {
  color: #fff;
  opacity: .9;
  margin: 0;
}

.poker-dangal-page-wrapper .withdraw-policy {
  width: 75%;
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 3rem 3rem;
  border-radius: 15px;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .withdraw-policy {
    padding: 1.5rem 0.3rem;
    width: 95%;
  }
  .poker-dangal-page-wrapper .withdraw-policy .heading {
    font-size: 1.6rem;
  }
}

.poker-dangal-page-wrapper .withdraw-policy p {
  color: #fff;
  font-size: 1.2rem;
}

.poker-dangal-page-wrapper .promotional-codes {
  padding: 4rem 0;
  margin: 0 3.5%;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .promotional-codes {
    padding: 2rem 0;
  }
}

.poker-dangal-page-wrapper .promotional-codes .heading {
  padding-left: 20rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .promotional-codes .heading {
    padding-left: 15px;
  }
}

.poker-dangal-page-wrapper .promotional-codes .card--shadow {
  padding: 3rem 0;
}

.poker-dangal-page-wrapper .promotional-codes .coupons {
  padding-left: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 3rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .promotional-codes .coupons {
    padding-left: 15px;
    padding-right: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.poker-dangal-page-wrapper .promotional-codes .coupons .coupon-single {
  max-width: 46%;
  padding: 11px 1.3rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .promotional-codes .coupons .coupon-single {
    max-width: 100%;
  }
}

.poker-dangal-page-wrapper .promotional-codes .coupons .coupon-single p {
  color: #fff;
}

.poker-dangal-page-wrapper .promotional-codes .coupons .coupon-single p:last-of-type {
  margin: 0;
}

.poker-dangal-page-wrapper .promotional-codes .coupons .coupon-single .coupon-num {
  color: #fff;
  font-size: 1.5rem;
  border: 2px dotted #2ecdf3;
  display: inline-block;
  padding: 6px;
}

.poker-dangal-page-wrapper .tournament-of-the-month {
  padding: 4rem 0;
  margin: 0 3.5%;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .tournament-of-the-month {
    padding: 2rem 0;
  }
}

.poker-dangal-page-wrapper .tournament-of-the-month .heading {
  text-align: center;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .tournament-of-the-month .heading {
    font-size: 1.6rem;
  }
}

.poker-dangal-page-wrapper .tournament-of-the-month .details-wrapper {
  padding: 1rem;
  margin-right: 1.5rem;
}

.poker-dangal-page-wrapper .tournament-of-the-month .details-wrapper:last-of-type {
  margin-right: 0;
}

.poker-dangal-page-wrapper .tournament-of-the-month .name {
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.poker-dangal-page-wrapper .tournament-of-the-month .amount {
  color: #2ecdf3;
  font-size: 1.4rem;
  font-weight: 500;
}

.poker-dangal-page-wrapper .highlights-promotions {
  padding: 4rem 0;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .highlights-promotions {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .highlights-promotions {
    padding: 4rem 15px;
  }
}

.poker-dangal-page-wrapper .highlights-promotions .heading {
  text-align: center;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .highlights-promotions .heading {
    font-size: 1.6rem;
  }
}

.poker-dangal-page-wrapper .highlights-promotions .container {
  border-radius: 25px;
  padding: 3rem 1rem;
}

.poker-dangal-page-wrapper .highlights-promotions .logo-img {
  display: block;
  margin: 0 auto;
}

.poker-dangal-page-wrapper .highlights-promotions p.highlight-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #2ecdf3;
  text-align: center;
  margin-top: 1rem;
}

.poker-dangal-page-wrapper .tournaments-of-the-day {
  padding: 4rem 0;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .tournaments-of-the-day {
    padding: 2rem 0;
  }
}

.poker-dangal-page-wrapper .tournaments-of-the-day .heading {
  text-align: center;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .tournaments-of-the-day .heading {
    font-size: 1.6rem;
  }
}

.poker-dangal-page-wrapper .tournaments-of-the-day .tourament-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.poker-dangal-page-wrapper .tournaments-of-the-day .tourament-wrapper .tournament-single {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  min-height: 14rem;
  border-radius: 25px;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
  .poker-dangal-page-wrapper .tournaments-of-the-day .tourament-wrapper .tournament-single {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.poker-dangal-page-wrapper .tournaments-of-the-day .tourament-wrapper .tournament-single .img-section {
  width: 100%;
  height: 5.5rem;
  background: #d3d3d3;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.poker-dangal-page-wrapper .tournaments-of-the-day .tourament-wrapper .tournament-single .tournament-details {
  padding: .6rem;
}

.poker-dangal-page-wrapper .tournaments-of-the-day .tourament-wrapper .tournament-single .tournament-details .name {
  color: #2ecdf3;
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: .8rem;
}

.poker-dangal-page-wrapper .tournaments-of-the-day .tourament-wrapper .tournament-single .tournament-details p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
}

.rummy-page-wrapper .masthead-slider-wrapper {
  padding: 0 4%;
  position: relative;
}

.rummy-page-wrapper .masthead-slider-wrapper .slick-slide img {
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .rummy-page-wrapper .masthead-slider-wrapper .slick-slide img {
    width: 100%;
    min-height: 25vh;
  }
}

.rummy-page-wrapper .masthead-slider-wrapper .arrow {
  position: absolute;
  top: 28%;
  width: 4rem;
}

@media only screen and (max-width: 1024px) {
  .rummy-page-wrapper .masthead-slider-wrapper .arrow {
    z-index: 2;
  }
}

@media only screen and (max-width: 500px) {
  .rummy-page-wrapper .masthead-slider-wrapper .arrow {
    top: 15%;
    width: 2rem;
  }
}

.rummy-page-wrapper .masthead-slider-wrapper .arrow.arrow-rt {
  right: 0;
  right: 7%;
}

.rummy-page-wrapper .masthead-slider-wrapper .arrow.arrow-lt {
  left: 7%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rummy-page-wrapper .rummy-form {
  margin-top: 2rem;
}

.rummy-page-wrapper .rummy-form .form-heading {
  color: #fff;
  text-align: center;
}

.rummy-page-wrapper .rummy-form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rummy-page-wrapper .rummy-form .form-row input {
  background-color: #2e3237 !important;
  height: 3rem;
  border-radius: 28px;
  padding: 10px 14px;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .rummy-page-wrapper .rummy-form .form-row input {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.rummy-page-wrapper .rummy-form button {
  background: #C50625;
  color: #fff;
  border: 1px solid #C50625;
  border-radius: 25px;
  padding: 7px 5rem;
  margin: 0 auto;
  display: block;
  margin-top: 3rem;
}

.rummy-page-wrapper .deals-section {
  margin: 4rem 0;
}

.rummy-page-wrapper .deals-section .deals-section-wrapper {
  padding: 0 6%;
}

@media only screen and (max-width: 1024px) {
  .rummy-page-wrapper .deals-section .deals-section-wrapper {
    padding: 0 3%;
  }
}

.rummy-page-wrapper .deals-section .sec-title {
  font-size: 2.3rem;
  color: #ecd6d4;
  font-weight: 700;
  text-shadow: 4px 3px #000;
  margin-bottom: 3rem;
}

.rummy-page-wrapper .deals-section .deals-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single {
  -ms-flex-preferred-size: 32rem;
      flex-basis: 32rem;
  padding: 2.4rem 2rem;
  margin-bottom: 3.4rem;
}

@media only screen and (max-width: 1024px) {
  .rummy-page-wrapper .deals-section .deals-wrapper .deal-single {
    padding: 1.4rem 1rem;
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
}

@media only screen and (max-width: 768px) {
  .rummy-page-wrapper .deals-section .deals-wrapper .deal-single {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .rummy-page-wrapper .deals-section .deals-wrapper .deal-single {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .rating-section img {
    width: 100%;
  }
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .rating-section .stars {
  margin-left: 1rem;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .rating-section .stars img {
  width: 12px !important;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .rating-section .stars a {
  color: #eac5c5;
  text-decoration: underline;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .rating-section .num {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .rating-section .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .deal-details {
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .deal-details {
    margin-left: 0;
  }
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .deal-details .name {
  color: #fff;
  font-size: 1.6rem;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .top-row .deal-details p {
  margin: 0;
  color: #eac5c5;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .bottom-row .details {
  width: 16rem;
}

@media only screen and (max-width: 768px) {
  .rummy-page-wrapper .deals-section .deals-wrapper .deal-single .bottom-row .details {
    width: 13rem;
  }
}

@media only screen and (max-width: 500px) {
  .rummy-page-wrapper .deals-section .deals-wrapper .deal-single .bottom-row .details {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column;
  }
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .bottom-row .details p {
  color: #fff;
  margin: 0;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .bottom-row .details p:nth-of-type(2) {
  font-size: 1.7rem;
}

.rummy-page-wrapper .deals-section .deals-wrapper .deal-single .bottom-row .deal-btn {
  background: #C50625;
  color: #fff;
  border: 1px solid #C50625;
  border-radius: 25px;
  padding: 5px 2.1rem;
  font-size: 14px;
}

.rummy-page-wrapper .rummy-update .content-row-single {
  margin-bottom: 2rem;
}

.rummy-page-wrapper .rummy-update .content-row-single .subtitle {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}

.rummy-page-wrapper .rummy-update .most-recent, .rummy-page-wrapper .rummy-update .most-popuplar {
  background-color: #CCCCCC;
  min-height: 400px;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  padding: 1rem;
}

.rummy-page-wrapper .rummy-update .most-recent .title, .rummy-page-wrapper .rummy-update .most-popuplar .title {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.rummy-page-wrapper .rummy-update .most-recent::after, .rummy-page-wrapper .rummy-update .most-popuplar::after {
  content: "";
  width: 92%;
  top: 3.5rem;
  height: 4px;
  background: #a1a1a1;
  position: absolute;
}

.rummy-page-wrapper .rummy-update .most-recent::before, .rummy-page-wrapper .rummy-update .most-popuplar::before {
  content: "";
  width: 92%;
  bottom: 3.5rem;
  height: 4px;
  background: #a1a1a1;
  position: absolute;
}
/*# sourceMappingURL=index.css.map */